@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   

}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="create">
    <h1>{{title}}</h1>


    <form method="Post" id="PostCreateForm" name="updateform" asp-controller="PostCode" asp-action="Create">
        @* 送信先のコントローラー名、送信先のアクション指定 *@
        <div class="form-group">
            <label for="id">ID</label>@* for属性とidの紐づけ *@
            <input type="text" name="id" id="id" class="form-control" readonly>
            <label for="groupcode">グループ番号</label>
            <input type="text" name="groupcode" id="groupcode" class="form-control" />
            <label for="oldpostcode">(旧)郵便番号</label>
            <input type="text" name="oldpostcode" id="oldpostcode" class="form-control" />
            <label for="postcode">郵便番号</label>
            <input type="text" name="postcode" id="postcode" class="form-control" />
            <label for="prefecture_kana">県名カナ</label>
            <input type="text" name="prefecture_kana" id="prefecture_kana" class="form-control" />
            <label for="city_kana">市町村名カナ</label>
            <input type="text" name="city_kana" id="city_kana" class="form-control" />
            <label for="shiptoaddress_kana">町域名カナ</label>
            <input type="text" name="shiptoaddress_kana" id="shiptoaddress_kana" class="form-control" />
            <label for="prefecture">都道府県名</label>
            <input type="text" name="prefecture" id="prefecture" class="form-control" />
            <label for="city">市区町村名</label>
            <input type="text" name="city" id="city" class="form-control" />
            <label for="shiptoaddress">町域名</label>
            <input type="text" name="shiptoaddress" id="shiptoaddress" class="form-control" />
            <label for="sameshiptoaddress">一町域が二以上の郵便番号で表される場合の表示（「1」は該当、「0」は該当せず）</label>
            <input type="text" name="sameshiptoaddress" id="sameshiptoaddress" class="form-control" />
            <label for="subdistrictlevel">小字毎に番地が起番されている町域の表示　（※4）　（「1」は該当、「0」は該当せず）</label>
            <input type="text" name="subdistrictlevel" id="subdistrictlevel" class="form-control" />
            <label for="chomename">丁目を有する町域の場合の表示　（「1」は該当、「0」は該当せず）</label>
            <input type="text" name="chomename" id="chomename" class="form-control" />
            <label for="multiplecitynumber">一つの郵便番号で二以上の町域を表す場合の表示　（※5）　（「1」は該当、「0」は該当せず）</label>
            <input type="text" name="multiplecitynumber" id="multiplecitynumber" class="form-control" />
            <label for="updatedate">更新の表示（※6）（「0」は変更なし、「1」は変更あり、「2」廃止（廃止データのみ使用））</label>
            <input type="text" name="updatedate" id="updatedatee" class="form-control" />
            <label for="updatereason">変更理由　（「0」は変更なし、「1」市政・区政・町政・分区・政令指定都市施行、「2」住居表示の実施、「3」区画整理、「4」郵便区調整等、「5」訂正、「6」廃止（廃止データのみ使用））</label>
            <input type="text" name="updatereason" id="updatereason" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary" value="追加" v-on:click="createAlert($event)" />
    </form>
</div>

<script>
    const { createApp, ref } = Vue
    createApp({
        setup() {
            const title = ref('新規作成');

            const createAlert = (event) => {
                event.preventDefault();
                try {
                    const elem = document.getElementById("PostCreateForm");
                    elem.submit();
                    alert("作成しました。");
                } catch (e) {
                    alert(e);
                }
            };


            return {
                title,
                createAlert

            };
        }


    }).mount('#create');


</script>
